@model UsuarioModel
@using ControledeContatos.Enums
@{
    ViewData["Title"] = "Cadastrar Usuario";
}

<div class="text-center">
    <h1>Cadastrar Usuario</h1>

</div>

<form asp-controller="Usuario" asp-action="Criar" method="post">
    
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control input" placeholder="Digite o nome do Usuario">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" asp-for="Email" class="form-control input" placeholder="Digite o e-mail do contato">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="mb-3">
        <label for="Login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control input" placeholder="Digite o Login do usuario">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Perfil</label>
        <select asp-for="Perfil" class="form-control input">
            <option value="">Selecione</option>
            <option value="@PerfilEnum.Admin">Administrador</option>
            <option value="@PerfilEnum.Padrao">Padrão</option>
        </select>
        @Html.ValidationMessageFor(x => x.Perfil)
    </div>
    <div class="mb-3">
        <label for="Senha" class="form-label">Senha</label>
        <input type="password" asp-for="Senha" class="form-control input" placeholder="Digite a senha do usuario">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

   <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
        <a role="button" class="btn btn-secondary btn-block" asp-controller="Usuario" asp-action="Index">Voltar</a>
   </div>
</form>