@model List<UsuarioModel>
@{
    ViewData["Title"] = "Listagem Usuarios";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a role="button" class="btn btn-primary" asp-area="" asp-controller="Usuario" asp-action="Criar">Adicionar novo Usuario</a>
    </div>
    <br />
    <h1>Listagem de Contatos</h1>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <table class="table" id="table-usuarios">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Perfil</th>
                <th scope="col">N<sup>o</sup> de Contatos</th>
                <th scope="col">Data de cadastro</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (UsuarioModel usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.Id</th>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Email</td>
                        <td>@(usuario.Perfil == ControledeContatos.Enums.PerfilEnum.Admin ? "Admin" : "Padão") </td>
                        <td>
                            <div class="d-grid gap-2 col-2 mx-auto" role="group">
                                <a href="javascript:" usuario-id="@usuario.Id" class="btn btn-success btn-sm btn-total-contatos" data-bs-toggle="modal" data-bs-target="#modalContatosUsuario" role="button">
                                    @(usuario.Contatos != null ? usuario.Contatos.Count : 0)
                                </a>
                            </div>
                            
                        </td>
                        <td>@usuario.DataCadastro</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Apagar">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"> <td valign="top" colspan="5">Nenhum Usuario encontrado</td></tr>
            }

        </tbody>
    </table>
    <div id="modalContatosUsuario" class="modal" tabindex="-1">
      <div class="modal-dialog modal-lg primary">
        <div class="modal-content primary">
          <div class="modal-header primary">
            <h5 class="modal-title">Contatos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body primary">
                <div id="listaContatosUsuario">
                </div>
          </div>
        </div>
      </div>
</div>
</div>
